body {
    background-color: #8F57FD;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.header {
    align-items: center;
    background-color: #8F57FD;
    display: flex;
    height: 80px;
    justify-content: space-between;
    width: 100%;
}

.header__img {
    margin-left: 30px;
    margin-top: 10px;
    width: 200px;
}

.header__menu {
    margin-right: 30px;
}

.header__menu ul {
    display: none;
    list-style-type: none;
    margin: 0 0 0 -14px;
    padding: 0;
    position: absolute;
    text-align: right;
    width: 100px;
}

.header__menu:hover ul, ul:hover {
    display: block;
} 

.header__menu li {
    margin: 10px 0;
}

.header__menu li a {
    color: white;
    text-decoration: none;
}

.header__menu li a:hover {
    text-decoration: underline;
}

.header__menu--profile {
    align-items: center;
    display: flex;
    margin-right: 8px;
}

.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}

.header__menu--profile p {
    color: white;
    margin:0;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
}

.main__title {
    color: white;
    font-size: 25px;
}

.categories__title {
    color: white;
    font-size: 16px;
    padding-left: 30px;
    position: absolute;
    width: 100%;
}

.input {
    background-color: rgba(255,255,255,0.1);
    border-radius: 40px;
    border: 2px solid white;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    height: 50px;
    outline: none;
    padding: 0px 20px;
    width: 70%;
}

::placeholder {
    color: white;
}

.carousel {
    overflow: scroll;
    padding: 30px;
    position: relative;
    width: 100%;
}

.carousel__container {
    margin: 70px 0px;
    white-space: nowrap;
    padding-bottom: 10px;
}

.carousel-item {
    background-color: palevioletred;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 250px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    transform-origin: center left;
    transition: 450ms all;
    width: 200px;
}

.carousel-item:hover ~ .carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    opacity: 1;
    transform: scale(1.5);
}

.carousel-item__img {
    height: 250px;
    width: 200px;
    object-fit: cover;
}

.carousel-item__details {
    align-items: flex-start;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 0;
    opacity: 0;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    transition: 450ms opacity;
    color: white;
    font-size: 14px;
}

.carousel-item__details:hover {
    opacity: 1;
}

.carousel-item__details--title {
    margin: 4px 0 0 0;
}

.carousel-item__details--subtitle {
    font-size: 9px;
    margin: 4px 0;
}

.icons-details img {
    width: 25px;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track{
    background: #8F57FD;
}
::-webkit-scrollbar-thumb{
    background: #8F57FD;
}


.footer {
    background-color: #8F57FD;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* Page 404 */

.header404 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header404__img {
    margin-left: 10px;
    width: 200px;
}

.main404 {
    background: -webkit-gradient(linear, left top, left bottom, from(#21C08B), to(#AB88FF));
    background: linear-gradient(#21C08B, #AB88FF);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.main404 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow: hidden;
    padding: 0 0 0 2rem;
}

.error-404 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    padding-right: 2rem;
    overflow: visible;
}

.error-404__container {
    max-width: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.error-404__container h1 {
    color: white;
    font-size: 80px;
    margin: 20px 0;
    text-align: center;
    position: relative;
    max-width: 220px;
    line-height: 4.5rem;
    left: 80px;
}

.error-404__container p {
    color: white;
    text-align: center;
    font-size: 20px;
}

.animated {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    display: inline-block;
    -webkit-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-animation: rotate4 2s linear;
            animation: rotate4 2s linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes hinge {
    0% {
        -webkit-transform: rotate(160deg);
                transform: rotate(160deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(160deg);
                transform: rotate(160deg);
    }
}

@keyframes hinge {
    0% {
        -webkit-transform: rotate(160deg);
                transform: rotate(160deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(160deg);
                transform: rotate(160deg);
    }
}

.hinge {
    -webkit-animation-name: hinge;
            animation-name: hinge;
}

.footer404 {
    background-color: #AB88FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100px;
    width: 100%;
}

.footer404 a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer404 a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .footer404 {
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
  /* End Page 404 */

/* Page inicio de sesión */
.header-inicio {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header-inicio__img {
    margin-left: 10px;
    width: 200px;
}

.login {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}

.login__container {
    background-color: rgba(255,255,255,0.1);
    border-radius: 40px;
    border: 2px solid white;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 700px;
    padding: 60px 68px 40px;
    text-align: center;
    width: 300px;
}

.login__container--form {
    display: flex;
    flex-direction: column;
}

.login__container--form label {
    font-size: 14px;
}

.login__container--remember-me {
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.login__container--remember-me a {
    color: white;
    font-size: 14px;
    text-decoration: none;
}

.login__container--remember-me a:hover {
    text-decoration: underline;
}

.login__container--social-media > div {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
}

.login__container--social-media > div > img {
    width: 30px;
    margin-right: 10px;
}

.login___container--register {
    font-size: 14px;
}

.login___container--register a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

.login___container--register a:hover {
    text-decoration: underline;
}

.input-inicio-sesion {
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0;
    border-bottom: 2px solid white;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    margin-bottom: 20px;
    padding: 5px 20px;
    outline: none;
}

::placeholder {
    color: white;
}

.button-inicio-sesion {
    background-color: rgba(255,255,255,0.1);
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
}

.footer-inicio {
    background-color: #AB88FF;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer-inicio a {
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}

.footer-inicio a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .login__container {
        background-color: transparent;
        border: none;
        padding: 0px;
        width: 100%;
    }

    .footer-inicio {
        align-items: flex-start;
        flex-direction: column;
    }
}
/* End incio de sesión */

@media only screen and (max-width: 600px) {
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}